body, html {
    font-family: 'Arial', sans-serif;
    background-color: #fee6ff;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input[type="number"] {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #5a0a96;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
