<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Math Practice for Sora</title>
  <link rel="stylesheet" href="static/style.css">
</head>
<body>
  <div class="container">
    <h1>Math Practice</h1>
    <div id="question"> </div>
    <input type="number" id="answer" placeholder="Enter your answer">
    <button onclick="checkAnswer()">Submit</button>
    <div id="feedback"></div>
    <img id="cheerImage" src="static/Nezuko_correct.gif" style="display: none;" alt="Cheering Image"/>
  </div>
  <script src="static/script.js"></script>
</body>
</html>